keyboard
<img class="keyboard-image-preload" src="../../../assets/piano_preview.png" (load)="imgUrl = '../../../assets/piano_preview.png'" hidden>
<img class="keyboard-image-preload" src="../../../assets/piano_preview.png" (load)="imgUrl = '../../../assets/piano_preview.png'" hidden>
<div class="keyboard-image" *ngIf="true" [style.background-image]="'url(' + imgUrl + ')'">
  <app-volumn-silder (levelChange)="setVolume($event)"></app-volumn-silder>
  <div class="instrument-selector">
    <div class="dash-button" (click)="onInstrumentChange(0)" [ngClass]="{'red-button': instrumentNum==0}">
    </div>
    <div class="dash-button" (click)="onInstrumentChange(1)" [ngClass]="{'red-button': instrumentNum==1}">
    </div>
  </div>
  <div class="keyboard-wrapper">
    <div class="keyboard">
      
      <div *ngFor="let item of selectedInstrument"  
         [ngClass]="{'pressed': item.pressed, 'white':item.type=='white','black':item.type=='black'}" class="note">
         
        <span *ngIf="true">{{item.note}}</span>
      </div>
    </div>
  </div>
</div>
