keyboard {
    display: flex;
    flex: 8;
    justify-content: center;
    width: 682px;
    height: 234px;
    background-color: #74261d;
    box-shadow: inset 0px 62px 133px 6px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.instrument-selector {
    position: absolute;
    top: 191px;
    left: 420px;
}

.dash-button {
    cursor: pointer;
    display: inline-block;
    width: 12px;
    height: 32px;
    margin-right: 18px;
    background-color: #aab69d;
    box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
}

.red-button {
    background-color: #e11f1d;
    box-shadow: 0px 0px 6px 3px rgba(255, 0, 0, 0.3), inset 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
}

.keyboard-wrapper {
    position: absolute;
    top: 266px;
    left: 220px;
}

.keyboard-image-preload {
    position: absolute;
    width: 0;
    height: 0;
}

.keyboard-image {
    background: transparent no-repeat top left;
    height: 501px;
    width: 944px;
    margin: 0 auto;
    position: relative;
}

.note {
    cursor: pointer;
    flex: 1;
    display: inline-flex;
    align-items: center;
    border-radius: 2px 2px 7px 7px;
}

.white {
    height: 50px;
    flex-flow: column;
    justify-content: flex-end;
    color: #474747;
    background-color: #ffffff;
    padding-bottom: 0.5%;
    box-shadow: inset 0px -1px 4px 1px rgba(0, 0, 0, 0.5);
    background-color: #d9d3c0;
}

.black {
    height: 50px;
    justify-content: left;
    position: relative;
    height: 40%;
    background-color: #331b19;
    color: white;
    width: 8%;
    margin: 0 -3%;
    box-shadow: inset 0 2px 8px 4px rgba(0, 0, 0, 0.7), inset 0 -10px 21px 1px #451e1e, inset 0 -6px 2px 6px rgba(255, 255, 255, 0.5);
    /*box-shadow:inset 0 2px 8px 4px rgba(0,0,0,0.7),inset 0 -10px 6px 3px rgba(69,30,30,1);*/
}

.pressed {
    box-shadow: inset 0px 6px 36px -5px rgba(0, 0, 0, 0.5);
}