.background-active {
    /*background-image: url('../assets/img/wall.jpg');
    background-position: top center;*/
    /*box-shadow:inset 0 -35px 2500px rgba(0,0,0,0.5);*/
    height: 100vh;
}

h1.animated {
    display: inline-block;
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes wobble {
    0% {
        transform: translateX(0%);
    }
    15% {
        transform: translateX(-15%) rotate(-5deg);
    }
    30% {
        transform: translateX(10%) rotate(3deg);
    }
    45% {
        transform: translateX(-7%) rotate(-3deg);
    }
    60% {
        transform: translateX(5%) rotate(2deg);
    }
    75% {
        transform: translateX(-2%) rotate(-1deg);
    }
    100% {
        transform: translateX(0%);
    }
}

#clouds {
    position: absolute;
    z-index: -1;
    padding: 100px 0;
    width: 100%;
    background: #c9dbe9;
    background: linear-gradient(to bottom, #c9dbe9 0%, #fff 100%);
    overflow: hidden;
}

.cloud {
    width: 200px;
    height: 60px;
    background: #fff;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: relative;
}

.cloud:before,
.cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}


/*Time to animate*/

.x1 {
    -webkitanimation: moveclouds 15s linear infinite;
    -mozanimation: moveclouds 15s linear infinite;
    -oanimation: moveclouds 15s linear infinite;
}


/*variable speed, opacity, and position of clouds for realistic effect*/

.x2 {
    left: 200px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6;
    /*opacity proportional to the size*/
    /*Speed will also be proportional to the size and opacity*/
    /*More the speed. Less the time in 's' = seconds*/
    -webkitanimation: moveclouds 25s linear infinite;
    -mozanimation: moveclouds 25s linear infinite;
    -oanimation: moveclouds 25s linear infinite;
}

.x3 {
    left: -250px;
    top: -200px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    /*opacity proportional to the size*/
    -webkitanimation: moveclouds 20s linear infinite;
    -mozanimation: moveclouds 20s linear infinite;
    -oanimation: moveclouds 20s linear infinite;
}

.x4 {
    left: 470px;
    top: -250px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75;
    /*opacity proportional to the size*/
    -webkitanimation: moveclouds 18s linear infinite;
    -mozanimation: moveclouds 18s linear infinite;
    -oanimation: moveclouds 18s linear infinite;
}

.x5 {
    left: -150px;
    top: -150px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    /*opacity proportional to the size*/
    -webkitanimation: moveclouds 20s linear infinite;
    -mozanimation: moveclouds 20s linear infinite;
    -oanimation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

    @keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

@-o-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

keyboard-layout {
    padding: 0 5%;
}

.header {
    display: block;
    padding: 15px 10px;
    color: #555;
    text-align: center;
    margin-bottom: 0px;
    margin: top 5px;
    font-weight: 100;
    
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    padding: 25px 10px;
    text-align: center;
    color: #555;
    background: #c9dbe9;
    /*background: linear-gradient(to top, #c9dbe9 50%, #fff 100%);*/
	animation: footer-in 1s ease-in;
    display: inline;
    width:33.3%;
    }
    a {
        text-decoration: none;
        color: #660000;
        /*&:hover {*/
            color: darkred;
        }
    


@keyframes footer-in {
    from {
        bottom: -70px;
    }
	to {
		bottom: 0;
	}
}