  <span *ngIf="isLogin"> 
 <app-login></app-login> 
 </span>
<span *ngIf="isRegister"> 
<app-register></app-register> 
 </span>  
<!--<span *ngIF="isShowdetails">
<app-showdetails></app-showdetails>
</span> 
<span *ngIF="isKeyboard">-->
 <app-keyboard></app-keyboard> 
<!--</span>-->
<app-volumn-silder></app-volumn-silder>

<router-outlet></router-outlet> 