.knob {
    position: absolute;
    left: 260px;
    top: 113px;
}
.wrap {
    border-radius: 50%;
    box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.4), -2px -5px 25px rgba(255, 255, 255, 0.3);
}
.knob-handle {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0; 
    background: radial-gradient(farthest-side ellipse at top left, white, #aaaaaa);
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.knob-point {
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #666;
}

.text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.5em; 
    display: inline;
    text-align: center;
    width:100%;
}