<!--
    <form name="myform" method="post" action="Registration1">
    <h1 align = "center"> Registration </h1>
    <table align="center" >
    <tr>
    <td>NAME</td>
    <td><input type="text" name="name" /></td>
    </tr>
    <tr>
    <td>CONTACT NUMBER</td>
    <td><input type="text" name="phno" /></td>
    </tr>
    <tr>
    <td>LOGINID</td>
    <td><input type="text" name="id" /></td>
    </tr>
    <tr>
    <td>PASSWORD</td>
    <td><input type="password" name="pswd" /></td>
    </tr>
    </table>
    <br /><br /><div align="center">
    <input type="submit" value="ok" onclick="validate()" /> 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" value="clear" />
    </div>
    </form>-->
    <input type="text" placeholder="NAME" [(ngModel)]='user.empName'><br/>
    <input type="text" placeholder="EMAIL" [(ngModel)]='user.email'><br/>
    <input type="text" placeholder="PASSWORD" [(ngModel)]='user.password'><br/>
    
    <input type="submit" value="REGISTER" (click)="userRegister()">
    