<router-outlet></router-outlet>
<!--
<form name="myform" method="post" action="login">
<div align="center"><pre>
LOGIN ID :<input type="text" name="id" /><br />
PASSWORD :<input type="password" name="pswd" /></pre><br /><br />
</div>
<br /><br />
<div align="center">
<input type="submit" value="ok" onclick="validate()" /> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="reset" value="clear" />
</div>
</form>-->

<div class="bg-img">
    <form #loginForm="ngForm"  class="container">
      <h1>Login</h1>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" ngModel name="email" #email=ngModel required>
  
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" ngModel name="password" #password = ngModel required>
  
      <button type="submit" class="btn" (click)="gotokeyboard()">Login</button><br>
      <button (click)='LoginComponent()'> New User? </button> 
      
      <a routerLink="/register">New User?</a>
    </form>
  </div> 
